@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:ital,wght@0,200;1,200&display=swap');


html
    {
    background-image: url(./assets/IMG/img-lightbulb.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;;
    }

#top-menu {float: right;}

body
    {
    font-family: 'Nunito Sans', sans-serif;
    color: chocolate;
    font-size: 29px;
    margin-left: 50px
    }

#picture
    {
        border: 5px solid;
        border-color: chocolate;
        position: top
    }

#bio
    {
    position: absolute;
    top: 560px;
    left: 550px;
    }

#skills
    {
    position: static;
    vertical-align: center;
    margin-left: 510px;
    }

#projects
    {
    margin-left: 510px
    }

.container1 
    {
    grid-template-rows: 1;
    grid-template-columns: 2;
        .project-b {grid-column-start: 2;}
        .project-a {grid-column-start: 1;}
    }




div{
        text-align: center;
        width: 1150px;
    }
    /* This div moves bio, skills, and projects alignment */